 <h1>New Group</h1>
 
<%= simple_form_for @group do |f| %>
  <%= f.input :name %>
  <h3>Admin</h3>
  <div id='admin'>
    <%= f.simple_fields_for :groupadmins do |groupadmin| %>
      <%= render 'groups/adminform.html.erb', :f => groupadmin %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add Admin', f, :groupadmins,
				partial: 'groups/adminform.html.erb',
    		render_options: {locals: { results: @results }}
      %>
    </div>
  </div>
  <%= f.submit 'Save' %>
<% end %>

<%= link_to 'Back', groups_path %>

